<% if user_signed_in? %> 
 <div> Welcome <%= current_user.email %> </div> 
  <%= button_to "Sign out", destroy_user_session_path, method: :delete %> 
<% else %>
  <%= button_to "Sign in", new_user_session_path %> 
<% end %>

<h1 class='text-center'>Alan Ireland Welcomes YOU!</h1>
<h2 class='text-center'>Welcome to my webpage. This is my first Rails project!</h2>
 <br/>
<h4 class='text-center'> O, for a Muse of fire that would ascend the brightest Heaven of Invention!</h4>

<p class="text-center">.</p>